

.container3{
    position: relative;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container3 .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5) ;
    transition:0.3s ease-in-out ;
}

.container3 .card:hover {
     height: 420px;
}

.container3 .card .imgbox {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 260px; 
    height: 250px;
    top: -50px;
    left: 0px;
    z-index: 1;
    box-shadow:0 5px 202px rgba(0,0,0,0.2) ;;
}

.container3 .card .imgbox .img {
   max-width: 100%;
   min-height: 100%;
   border-radius: 4px;
   background-color: #080c68;
  
}

.container3 .card .content {
    
   position: relative;
   margin-top: -140px ;
   padding:10px 10px ;
   text-align: center;
   color: #111;
   visibility:hidden ;
   opacity: 0;
   transition: 0.3s ease-in-out;
}

.container3 .card:hover .content {
     visibility: visible;
     opacity: 1;
     margin-top: -40px ;
     transition-delay: 0.3s;
}

#infor{
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 5px 0px;
    text-align: left;
}

#infor .container3{
    padding: 0px -0px;  
}

.espacio {
    display: flex;
    align-items: center; 
    flex-direction: column;
}


.espacio button{
    height: 50px;
    width: 340px;
    font-size: 28px;  
    border-radius: 25px;
}

.espacio h2{
   font-size: 25px;
   text-align: center;
}

.tex1 {
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 50%;  
}

.tex {
    background-color: #080b6831;
    height: 50%;
    width: 50%;
    border-style: groove;
    border-radius: 10px; 
    text-align: center;
    
}

#hero1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
}

@media screen and (min-width: 800px){
    .container3{
        position: relative;
        width: 310px;
        padding: 30px;
    }
    
    .tex {
         text-align: left;
         padding: 50px;
       

    }
    #conten{
        display: flex;
        justify-content: center;
    }
     


  
}